

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.main
{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow-x: hidden;
}

.main-box{
    background-color: white;
    padding: 55px 20px 55px 20px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 30%;
    height: 100%;
}

.card-box
{
    width: 70%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    text-align: center;
}

.head2{
    color: white;
}

.input-box
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.input{
    padding: 2px 1px 2px 1px;
}

.make-cards
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    width: 90%;
    height: 80%;
    padding: 10px 25px 10px 25px;
}

.heading{
    color: white;
}

.p-div
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}